<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_ABSOLUTE_PATH" value="${K8S_HOME}/logs" />

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy.MM.dd HH:mm:ss}] [%thread] [%level] [%logger{35}] %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="K8SOPERATOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ABSOLUTE_PATH}/operator.log</file>
        <encoder>
            <pattern>[%d{yyyy.MM.dd HH:mm:ss}] [%thread] [%level] [%logger{35}] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/operator_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>20MB</maxFileSize>
                <!-- kb, mb, gb -->
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    
    <logger name="K8SOperator" level="INFO">
        <appender-ref ref="K8SOPERATOR"/>
    </logger>
    
</configuration>